<!DOCTYPE html>
<html>
    <head>
        <title>Hello world in Flask</title>
    </head>
    <body>
        <h1>Enter a search term to find on MediaWiki</h1>
        <form action="/search" method="GET">
            <input name="searchterm" type="text" placeholder="Search here" value="{{ searchterm }}">
            <input type="submit" name="text" value="Search!">
        </form>
        <h2>U zocht naar {{ searchterm }}</h2>

        {% for info in article %}
            <h3>{{ info["title"] }}</h3>
            <p>{{ info["snippet"]|safe }}</p>
        {% endfor %}
        <p>
            {{ article }}
        </p>
    </body>
</html>